<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document1</title>
</head>

<body>


    <div class="item-character" v-mouseover>
      <el-tooltip v-if="attrs[index] != 'true'" :content="item.subjoinList && item.subjoinList[0].itemCharacter|| item.itemCharacter" placement="bottom" effect="light">
        <div>
          (ID:{{item.subjoinList && item.subjoinList[0].id|| item.id}}) {{item.subjoinList && item.subjoinList[0].itemCharacter|| item.itemCharacter}}
        </div>
      </el-tooltip>
      <div v-else>
        (ID:{{item.subjoinList && item.subjoinList[0].id|| item.id}}) {{item.subjoinList && item.subjoinList[0].itemCharacter|| item.itemCharacter}}
      </div>
    </div>



    
      <el-tooltip :disabled="flag1" :content="item.subjoinList && item.subjoinList[0].itemCharacter|| item.itemCharacter" placement="bottom" effect="light">
        <div class="item-character" v-mouseover="flag1">
          (ID:{{item.subjoinList && item.subjoinList[0].id|| item.id}}) {{item.subjoinList && item.subjoinList[0].itemCharacter|| item.itemCharacter}}
        </div>
      </el-tooltip>
    

















  <div id="app">
    <div name="test">{{computeA}}</div>
    <ul>
      <li v-for="item in students">{{item.name}}</li>
    </ul>
    <button @click="remove">remove</button>
  </div>

</body>
<script src="./js/vue.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        firstName: 111,
        lastName: 222,
        students: []
      }
    },
    computed: {
      computeA: function () {
        return this.firstName + ' ' + this.lastName
      }
    },
    created() {
      setTimeout(
        () => {
          this.firstName = 333;
        }, 1000
      )
      this.students = [{
        name: 'ywq'
      }];
    }, 
    methods:{
      remove(){
        this.students.splice(0,1);
      }
    }
  })
</script>

</html>